*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
html,body {
  overscroll-behavior: none;
}
:root {
  --border-radius: 2rem;
}
body{
  background: #f0f0f0;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  text-align: center;
  box-sizing: border-box;
}
::-webkit-scrollbar {
width: 8px;
height: 6px;
}
::-webkit-scrollbar-track {
background: transparent;
}
::-webkit-scrollbar-thumb {
background: #888;
height: 4px;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: #6361d8;
}
.no-resize {
resize: none !important;
}
.lang-dropdown-btn .fa-earth-americas {
display: none;
}
@media (max-width: 700px) {
.logo {
  max-width: 150px; /* Уменьшаем максимальную ширину для маленьких экранов */
  z-index: 1500;
}
.logo-container {
  max-width: 68px;
}
}
.animated {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
#back-to-top {
display: inline-block;
background-color: #6b69e2be;
width: 50px;
height: 50px;
text-align: center;
border-radius: 4px;
position: fixed;
bottom: 30px;
right: 30px;
transition: background-color .3s, 
  opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#back-to-top::after {
content: "\f077";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 2em;
line-height: 50px;
color: #fff;
}
#back-to-top:hover {
cursor: pointer;
background-color: #4b49c5;
}
#back-to-top:active {
background-color: #cecece;
}
#back-to-top.show {
opacity: 1;
visibility: visible;
}
body::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 15%;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0) 100%);
pointer-events: none; /* Позволяет кликать через этот элемент */
z-index: 1;
resize: horizontal; /* Добавлено для отключения изменений при вертикальном ресайзе */
}
body.loading {
overflow: hidden;
}
.scroll-blocker {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}
@media (max-width: 768px) {
body::before {
  height: 25%; 
}
}
html {
scroll-behavior: smooth;
}
.newscon {
display: flex;
align-items: center;
margin: 20px;
}
.news-item,
.course-col {
width: 100%;
max-width: none;
}
.news-section {
background-color: #f5f5f5;
}

.section-title {
text-align: center;
color: #100629;
padding-top: 5px;
padding-bottom: 15px;
}

.news-container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 20px;
}

.news-item {
text-decoration: none;
color: inherit;
background-color: #f2f2f2;
border-radius: 10px;
overflow: hidden;
margin: 35px;
width: 400px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.021);
transition: transform 0.3s ease-in-out;
}
.news-item:hover {
transform: translateY(-3px);
}
.news-item:hover img {
transform: scale(1.05);
transition: transform 0.3s ease-in-out;
}
.news-item img {
width: 100%;
height: 250px;
object-fit: cover;
border-bottom: 2px solid #ddd;
}
.news-content {
background-color: #f0f0f0;
padding: 15px;
border-radius: 0 0 10px 10px;
flex-grow: 1;
display: flex;
flex-direction: column;
}
.news-title {
font-size: 1.2rem;
margin-top: 10px;
}

.news-date {
color: #777;
font-size: 0.9rem;
margin-bottom: 0px;
}
.news-description {
margin-bottom: 10px;
}
.read-more-btn {
background-color: #524FD5;
color: white;
border: none;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s;
}

.read-more-btn:hover {
background-color: #423d91;
}

@media (max-width: 400px) {
  .news-item img {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
.news-item {
  width: 100%;
  margin: 10px 0;
}
}
/*---FAQ---*/
::selection{
background: #7d2ae8;
color: #fff;
}
.accordion {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 40px;
}
.questions-container{
max-width: 91vh;
margin: 0 auto;
}
.accordion-text .title {
font-size: 35px;
font-weight: 600;
color: #100629;
text-align: center;
margin-bottom: 35px;
}
.question span {
text-align: left;
}
.question button{
width: 100%;
background-color: #e7e7e7;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 15px;
border: none;
outline: none;
font-size: 22px;
color: #3f3f3f;
font-weight: 600;
cursor: pointer;
border-radius: 10px;
}
.question p{
font-size: 18px;
max-height: 0;
opacity: 0;
padding-top: 15px;
line-height: 1.5;
overflow: hidden;
text-align: left;
transition: all 0.6s ease;
}
.d-arrow{
transition: transform 0.3s ease-in ;
color: #3f3f3f;
}
.question p.show{
max-height: 200px; 
opacity: 1;
padding: 12px 30px 30px 15px;
color: #00000096;
}
.question button .d-arrow.rotate{
transform: rotate(180deg);
}
@media (max-width: 400px) {
  .accordion-text .title {
    font-size: 32px;
  }
  .question span {
    font-size: 20px;
    }
  .question button {
    padding: 17px 15px;
  }
}
.preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 5000;
opacity: 1;
transition: opacity 1s ease-out;
}

.spinner {
margin-bottom: 30px;
border: 4px solid rgba(0, 0, 0, 0.1);
border-top: 4px solid #524FD5;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 0.8s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.preloader-content {
text-align: center;
opacity: 1;
transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Added visibility transition */
animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.preloader h2 {
margin: 0;
font-size: 24px;
color: #333;
}

.loaded .preloader {
opacity: 0;
pointer-events: none;
transition: opacity 0.5s ease-out;
}

.loaded .preloader-content {
opacity: 0;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
.preloader h2 {
    font-size: 18px;
}

.preloader {
    align-items: center; /* Align to the start on mobile */
    text-align: center; /* Align text to the left on mobile */
}
}

.header {
min-height: 80vh;
width: 100%;
position: relative;
overflow: hidden;
transition: box-shadow 0.3s ease;
}
#backgroundVideo {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(50%); /* Затемнение видео, значение от 0% до 100% */
z-index: -1;
}
.logo-container {
display: flex;
justify-content: center;
align-items: center;
z-index: 1209;
margin: 55px auto;
z-index: 1500;
}
.header .logo {
width: 100%;
max-width: 250px;
height: 100%;
z-index: 1500;
}
button {
border: 0;
padding: 0;
background: transparent;
cursor: pointer;
}
.lang-dropdown {
position: fixed;
top: 60px;
right: 20px;
z-index: 1501;
}
.lang-dropdown-btn {
background: none;
border: none;
cursor: pointer;
font-size: 18px;
color: #fff;
display: flex;
align-items: center;
padding: 5px 10px;
transition: color 0.3s;
}
.lang-dropdown-btn:hover .lang-name,
.lang-dropdown-btn:hover .lang-arrow {
  color: #e4e4e4;
}
.lang-dropdown-btn .lang-name,
.lang-dropdown-btn .lang-arrow {
  color: #a0a0a0;
  transition: color 0.3s;
}
.lang-name {
margin-right: 10px;
color: #9e9e9e;
}
.lang-arrow {
transition: transform 0.3s ease-in;
color: #9e9e9e;
}
.lang-dropdown-btn.active .fa-angle-down {
transform: rotate(180deg);
}
.lang-dropdown-list {
display: none;
position: absolute;
background-color: #00000050;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
border-radius: 10px;
margin-top: 5px;
right: 5px;
transition: opacity .4s ease;
}

.lang-dropdown-list.active {
display: block;
}

.lang-dropdown-item {
padding: 10px;
color: #fff;
text-decoration: none;
display: block;
transition: background 0.3s;
}
.lang-dropdown-item:hover {
background: #555;
}
.navbar,
.navbar-burger,
.menu {
position: fixed;
}
.navbar {
z-index: 1501;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 72px;
padding-left: 25px;
}
.navbar-burger {
z-index: 1501;
top: 0;
left: 0;
display: grid;
place-items: center;
width: 88px;
height: 150px;
background-image: url("./assets/menu.svg");
background-repeat: no-repeat;
filter: brightness(70%);
background-position: center;
transition: filter 0.3s;
}
.navbar-burger:hover {
filter: brightness(100%);
}
body.open .navbar-burger {
background-image: url("./assets/close.svg");
}
.menu {
z-index: 1200;
top: 0;
left: 0;
display: grid;
align-items: center;
justify-content: flex-start;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.959);
opacity: 0;
overflow: hidden;
visibility: hidden;
transition: 0.5s;
}

body.open .menu {
opacity: 1;
visibility: visible;
}

.menu nav:hover a {
  opacity: 1;
  transition: 0.3s;
  }
  .menu nav .dropbtn {
    opacity: 0.25;
    }
  .menu nav a:hover {
  opacity: 0.25;
  transition: 0.3s;
  }
.menu nav {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.menu .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  left: 280px; /* Установите фиксированное расстояние здесь */
  top: 50%; /* Выравнивание по середине кнопки */
  transform: translateY(-50%); /* Смещение вверх на половину высоты элемента */
}
.menu .dropbtn::after {
content: "";
position: absolute;
left: 0;
bottom: 10px;
width: 100%;
height: 2px;
border-radius: 2px;
background: #f7f7f7;
transform: scaleX(0);
transform-origin: 50% 50%;
transition: 0.3s;
}
.menu .dropbtn:hover::after {
transform: scaleX(1);
}

body.open .menu .dropbtn {
  animation: appear 0.3s backwards;
  }
  
  @keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
  }
  .dropdown {
    position: relative;
    display: block;
  }
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1501;
  left: 100%; /* Позиционирование выпадающего меню справа */
  top: 50%; /* Выравнивание по середине кнопки */
  transform: translateY(-40%); /* Смещение вверх на половину высоты элемента */
}
.dropdown-content a {
  color: white; /* Установи цвет текста на белый */
  padding: 20px 16px;
  width: 200px;
  text-align: left;
  text-decoration: none;
  display: block;
  animation: appear 0.3s backwards;
  margin-left: 17vw;
  z-index: 1501;
  font-size: 30px;
}
/* Добавьте стили для кнопки */
.dropbtn {
  position: relative;
  color: white; /* Установите цвет текста на белый */
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 4em;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}
.dropdown .fa-chevron-right {
  font-size: 15px;
  margin-left: 25px; /* Регулируйте это значение для изменения расстояния стрелки от текста кнопки */
  transition: all 0.3s ease;
}
.dropdown:hover .fa-chevron-right,
.dropdown .dropbtn:focus .fa-chevron-right {
  transform: translateX(5px);
}
@media screen and (max-width: 400px) {
  .dropbtn {
    font-size: 18px;
    margin-left: 2px;
  }
  .dropdown-content a{
    font-size: 16px;
    margin-left: -75px;
    padding: 12px 16px;
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  .dropdown-content a {
    font-size: 20px;
    margin-left: -30px;
    padding: 12px 16px;
  }
  .dropbtn {
    font-size: 22px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .dropbtn {
    font-size: 24px;
  }
  .dropdown-content a {
    font-size: 24px;
    margin-left: 10px;
  }
  .menu {
    z-index: 1200;
    top: 0;
    left: 0;
    display: grid;
    place-items: flex start;
    justify-content: flex-start;
    width: 100%;
    height: 100%; /* Сохраняет высоту */
    background: rgba(0, 0, 0, 0.959);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
  }
  .dropbtn {
    margin-left: 50px;
  }
}
/* Стили для номера телефона */
.phone {
position: fixed;
top: 65px;
right: 6.6em;
display: flex;
align-items: center;
z-index: 1501;
}
.phone-link {
display: flex;
align-items: center;
color: #9e9e9e; /* Замените на ваш цвет текста */
text-decoration: none;
margin-right: 20px; /* Расстояние между номером и переменной языка */
transition: color 0.5s ease;
}
.phone-link:hover {
color: #e4e4e4; /* Замените на ваш цвет при наведении */
}

.phone .fa-phone-flip {
margin-right: 10px; /* Расстояние между иконкой телефона и номером */
font-size: 20px;
}
.lang-dropdown-btn .fa-earth-americas {
display: none;
}
/* Дополнительные стили для мобильных устройств */
@media (max-width: 700px) {
.header {
  min-height: 100vh;
}
.phone {
  right: 2.5em;
}
.phone-number {
display: none;
}
.lang-dropdown {
right: 1em;
}
.lang-dropdown-btn .fa-earth-americas {
display: flex;
color: #9e9e9e;
transition: color 0.5s ease;
font-size: 20px;
}
.lang-dropdown-btn .fa-earth-americas:hover {
display: flex;
color: #e4e4e4;
}
.lang-dropdown-btn .lang-arrow {
display: none;
}
.lang-name {
display: none;
}
}
@media (max-width: 700px) {
.lang-dropdown-list {
width: 100px; /* Уменьшаем ширину для маленьких экранов */
}
}
.text-box {
  width: 100%;
  color: #f7f7f7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1 {
  font-size: 80px;
  color: #ffffff;
  font-weight: 600;
}
.text-box h1 span {
color: #6f53ed;
position: relative;
}
.text-box h1 span::before {
content: "";
height: 50px;
width: 2px;
position: absolute;
top: 50%;
right: -8px;
background: #6f53ed;
transform: translateY(-45%);
animation: blink 0.7s infinite;
}
.textbox h1 span.stop-blinking::before {
animation: none;
}
@keyframes blink {
50% { opacity: 0 }
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: #a8a8a8;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fcfcfc;
  border: 1px solid #ffffff0e;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 14px;
  background: none;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}
.hero-btn:hover{
  background: #524FD5;
}
.hero-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #524FD5;
  z-index: -1;
  transition: 0.7s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.hero-btn:hover::before{
  height: 180%;
}
.box-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-bottom: -6rem;
transform: translateY(-30%);
}
.box-container .box {
height: 15rem;
width: 24rem;
background: #fff;
text-align: center;
border-radius: 1rem;
box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.123);
margin: 4rem;
cursor: pointer;
}
.box-container .box i{
height: 4rem;
width: 4rem;
line-height: 4rem;
text-align: center;
border-radius: 50%;
color: #fff;
background: #6f53ed;
font-size: 2rem;
margin: 2rem 0;
transition: .2s;
}
.box-container .box:hover i{
background: #4c35b1;
}
.box-container .box h3{
font-size: 1.5rem;
font-weight: 700;
color: #100629;
transition: .2s;
padding: 0px 6px 0 6px;
}
.box-container .box:hover h3{
color: #353535;
}
.box-container .box p{
font-size: 1rem;
padding: .7rem 1.5rem;
color: #838383;
}
#secondbox {
transform: translateY(-5);
}
.home::before{
content:'';
position: absolute;
bottom: -55rem; left:50%;
transform: translateX(-50%);
border-top: 70vh solid #f0f0f0;
width: 100%;
border-radius: 50%;
z-index: -1;
}
@media (max-width: 400px) {
  .box-container .box {
    height: 18rem;
  }
}
@media (max-width: 1200px) {
.box-container {
  transform: translateY(0%);
}
.box-container .box{
  margin: 1.5rem;
  width: 22rem;
}
#secondbox {
  transform: translateY(0);
}
}
@media (max-width: 1600px) {
  #secondbox {
    transform: translateY(0%);
  }
  .box-container {
    transform: translateY(-15%);
    padding-bottom: 30px;
  }
}
@media (max-width: 700px) {
.box-container {
  transform: translateY(0%);
}
.text-box h1 {
  font-size: 48px;
}
.text-box h1 span {
  font-size: 46px;
}
.text-box h1 span::before {
  display: none; /* Скрываем элемент ::before на мобильных устройствах */
}
}
/*---- pluses ----*/

.pluses {
min-height: 25vh;
width: 100%;
background-image: radial-gradient(circle at center , #000000c4 5%, #1a002b 40%), url(images/mission2.jpg);
background-blend-mode: normal, multiply;
background-position: center;
background-size: cover;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px 0px 20px 0;
}

.pluses h1 {
font-size: 58px;
font-weight: 600;
color: #fff;
margin-bottom: 10px;
}

.pluses p {
color: #c4c4c4;
font-size: 17px;
font-weight: 500;
line-height: 22px;
padding: 10px;
}
/**course**/
.course {
  width: 70%;
  margin: auto;
  text-align: center;
}
h2 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  position: relative;
  opacity: 1;
}
.course h2::before {
  content: "";
  display: block;
  width: 55px; /* Ширина линии, настраиваемая по выбору */
  height: 1px; /* Высота линии, настраиваемая по выбору */
  background-color: rgba(128, 74, 228, 0.596);
  position: absolute;
  top: -20px; /* Отступ над текстом, настраиваемый по выбору */
  left: 50%;
  transform: translateX(-50%);
}
p{
  color: #afafaf;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
/*threebox*/
.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.4s;
  opacity: 1;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.course-desc{
  padding: 8px;
  color: #7c7c7c;
  text-align: center;
}
.rowboxes {
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
}
.course-col:hover {
  background-color: #7873fc23;

}
@media (max-width: 700px) {
.purple-line {
  background-color: #9370DB;
  height: 15px;
  width: 100%;
  z-index: 0;
}
.course {
  padding-top: 120px;
}
  .row{
      flex-direction: column;
  }
  .pluses h1{
      font-size: 38px;
      padding: 10px 0;
  }
  .pluses {
    width: 100%;
  }
  .pluses p{
      font-size: 16px;
      padding: 0px 0px 10px;
      width: 80vw;
  }
}


/*---- campus ----*/

.campus {
width: 70%;
margin: auto;
text-align: center;
padding-top: 84px;
font-size: 36px;
font-weight: 600;
position: relative;
overflow: hidden; /* Добавлено для обрезки псевдоэлемента */
}

.campus::before {
content: "";
position: absolute;
top: 35px;
left: 50%;
transform: translateX(-50%);
width: 90%;
height: 90%;
background: linear-gradient(55.83deg, #9470db 11.35%, rgb(132, 55, 165) 100.99%);
border-radius: 20px;
z-index: -1;
}

/* Остальные стили без изменений */
.campus h2 {
position: relative;
color: #fff;
font-size: 40px;
transition: opacity 3s ease-in-out;
}

.campus p {
color: #d4d4d4;
}

.campus h2::before {
content: "";
display: block;
width: 150px;
height: 1px;
background-color: rgba(253, 253, 253, 0.596);
position: absolute;
top: -25px;
left: 50%;
transform: translateX(-50%);
}

.campus-col {
flex-basis: 30%;
border-radius: 10px;
margin-bottom: 30px;
position: relative;
overflow: hidden;
}

.campus-col img {
width: 100%;
display: block;
}

.layer {
background: transparent;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: 0.5s;
}

.layer:hover {
background: rgba(128, 74, 228, 0.411);
}

.layer h4 {
width: 100%;
font-weight: 500;
color: #fff;
font-size: 26px;
bottom: 0;
left: 50%;
transform: translateX(-50%);
position: absolute;
opacity: 0;
transition: 0.5s;
}

.layer:hover h4 {
bottom: 45%;
opacity: 1;
}
@media screen and (max-width: 1200px) {
.campus {
    width: 85%; /* увеличиваем ширину блока на более крупных экранах */
}

.campus h2 {
    font-size: 36px; /* уменьшаем размер заголовка для более крупных экранов */
}

.campus-col {
    flex-basis: 32%; /* устанавливаем 2 блока в ряд на планшетах */
}
}

/*---- call to action ----*/

.cta {
  margin: 100px auto;
  width: 90%;
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(rgba(2, 4, 14, 0.418),rgba(2, 4, 14, 0.418)), url('images/background.png') center/cover no-repeat; /* Применяем фоновое изображение */
}

.cta h1{
  font-size: 38px;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 600;
}

.cta .hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fcfcfc;
  border: 1px solid #ffffff0e;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 14px;
  background: none;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

.cta .hero-btn:hover{
  background: #524FD5;
}

.cta .hero-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #524FD5;
  z-index: -1;
  transition: 0.7s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.cta .hero-btn:hover::before{
  height: 180%;
}

@media (max-width: 1000px){
  .cta h1{
    font-size: 20px;
    padding: 5px 5px;
  }
  .cta {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .cta {
    padding: 60px 10px; /* Уменьшаем верхний и нижний внутренний отступ */
  }

  .cta h1 {
    margin-bottom: 20px; /* Уменьшаем отступ после заголовка */
  }

  .hero-btn {
    font-size: 16px; /* Уменьшаем размер шрифта кнопки */
    padding: 10px 20px; /* Уменьшаем внутренние отступы кнопки */
  }
}

/*--partners--*/

.partners {
text-align: center;
padding-top: 80px;
max-width: 70%; /* Устанавливаем максимальную ширину блока */
margin: 0 auto; /* Центрируем блок по горизонтали */
}
.partners h2 {
  margin: auto;
  font-size: 40px;
  text-align: center;
  color: #100629;
}

.partners h2::before {
  content: "";
  display: block;
  width: 125px;
  height: 1px;
  background-color: rgba(128, 74, 228, 0.596);
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes slide{
  from {
      transform: translateX(0);
  }
  to {
      transform: translate(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 50px 0;
}

.logos-slide img{
  height: 50px;
  margin: 0 40px;
}

.logos-slide{
  white-space: nowrap;
  animation: 35s slide infinite linear;
}

/*--- Gallery ---*/

.wrapper {
max-width: 1200px;
padding-top: 30px;
margin: 0 auto; 
position: relative;
padding-bottom: 50px;
}

.wrapper i {
top: 60%;
height: 44px;
width: 44px;
color: #dadada;
cursor: pointer;
font-size: 1.15rem;
position: absolute;
text-align: center;
line-height: 44px;
background: #524FD5;
border-radius: 50%;
transform: translateY(-50%);
transition: transform 0.1s linear;
}

.wrapper i:active {
transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
background: #4443b6;
}

.wrapper i:first-child {
left: -15px;
display: none;
}

.wrapper i:last-child {
right: -15px;
}

.wrapper .carousel {
font-size: 0px;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
scroll-behavior: smooth;
display: flex; /* Добавлено, чтобы сделать дочерние элементы горизонтальными */
}

.carousel.dragging {
cursor: grab;
scroll-behavior: auto;
}

.carousel.dragging img {
pointer-events: none;
}

.carousel img {
height: 340px;
object-fit: cover;
user-select: none;
margin-left: 14px;
width: calc(100% / 3);
border-radius: 10px;
}

.carousel img:first-child {
margin-left: 0px;
}

@media screen and (max-width: 900px) {
.carousel img {
  width: calc(100% / 2);
}
}

@media screen and (max-width: 550px) {
.carousel img {
  width: 100%;
}
}
@media screen and (max-width: 700px) {
.wrapper {
  max-width: 400px;
  padding-top: 50px;
  margin: 0 auto; 
}
.wrapper i:first-child {
left: 0px;
display: none;
}

.wrapper i:last-child {
right: 0px;
}
}
/*---footer---*/

.footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  background: #804ae498;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}
.social-icon,
.menufoot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images/wave.png");
  background-size: 1000px 100px;
  z-index: 998;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 7s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 7s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 6s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 5s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 0px;
  }
  .menu__link {
    font-size: 1.2rem;
    align-items: center;
  }
  .social-icon__link {
    font-size: 1.8rem;
    align-items: center;
  }
}