@import url("../fonts/steppe/stylesheet.css");
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --border-radius: 2rem;
}
::-webkit-scrollbar {
width: 8px;
height: 6px;
}
::-webkit-scrollbar-track {
background: transparent;
}
::-webkit-scrollbar-thumb {
background: #888;
height: 4px;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d08709;
  }
.no-resize {
resize: none !important;
}
/* Стили для номера телефона */
.phone {
  position: fixed;
  top: 65px;
  right: 6.6em;
  display: flex;
  align-items: center;
  z-index: 1501;
  }
  .phone-link {
  display: flex;
  align-items: center;
  color: #9e9e9e; 
  text-decoration: none;
  margin-right: 20px; 
  transition: color 0.5s ease;
  }
  .phone-link:hover {
  color: #e4e4e4; 
  }
  
  .phone .fa-phone-flip {
  margin-right: 10px; 
  font-size: 20px;
  }
  .lang-dropdown-btn .fa-earth-americas {
  display: none;
  }
  /* Дополнительные стили для мобильных устройств */
  @media (max-width: 700px) {
  .header {
    min-height: 100vh;
  }
  .phone {
    right: 2.5em;
  }
  .phone-number {
  display: none;
  }
  .lang-dropdown {
  right: 1em;
  }
  .lang-dropdown-btn .fa-earth-americas {
  display: flex;
  color: #9e9e9e;
  transition: color 0.5s ease;
  font-size: 20px;
  }
  .lang-dropdown-btn .fa-earth-americas:hover {
  display: flex;
  color: #e4e4e4;
  }
  .lang-dropdown-btn .lang-arrow {
  display: none;
  }
  .lang-name {
  display: none;
  }
  .lang-dropdown-list {
    width: 100px; 
    }
  }
@media (max-width: 700px) {
  .logo {
    z-index: 1501;
  }
  .logo-container {
    max-width: 135px;
    z-index: 1501;
  }
}
.animated {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
#back-to-top {
  display: inline-block;
  background-color: #a03ce37b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s, color .4s, transform 0.4s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #fff;
  }
  #back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  }
  #back-to-top:hover {
  cursor: pointer;
  background-color: #ffa405;
  color: #000;
  }
  #back-to-top:active {
  background-color: #e2e2e2;
  transform: scale(0.9);
  }
  #back-to-top.show {
  opacity: 1;
  visibility: visible;
  }
  @media (max-width: 700px) {
    #back-to-top {
      width: 44px;
      height: 44px;
    }
    #back-to-top::after {
      line-height: 44px;
    }
  }
  html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
body{
  background: #f0f0f0;
  overflow-x: hidden;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
body::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 25%;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 100%);
pointer-events: none;
z-index: 1000;
resize: horizontal; 
}
body.loading {
  overflow: hidden;
}
.scroll-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
body::before {
  height: 25%; 
}
}
html {
scroll-behavior: smooth;
}
.read-more-btn {
background-color: #524FD5;
color: white;
border: none;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s;
}

.read-more-btn:hover {
background-color: #423d91;
}

@media screen and (max-width: 768px) {
.news-item {
  width: 100%;
  margin: 10px 0;
}
}
/*---FAQ---*/
::selection{
background: #7d2ae8;
color: #fff;
}
.d-arrow{
transition: transform 0.3s ease-in ;
color: #3f3f3f;
}
.question button .d-arrow.rotate{
transform: rotate(180deg);
}
.preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 5000;
opacity: 1;
transition: opacity 1s ease-out;
}

.spinner {
margin-bottom: 30px;
border: 4px solid rgba(0, 0, 0, 0.1);
border-top: 4px solid #7118ab;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 0.8s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.preloader-content {
text-align: center;
opacity: 1;
transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Added visibility transition */
animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.preloader h2 {
margin: 0;
font-size: 24px;
color: #333;
}

.loaded .preloader {
opacity: 0;
pointer-events: none;
transition: opacity 0.5s ease-out;
}

.loaded .preloader-content {
opacity: 0;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
.preloader h2 {
    font-size: 18px;
}

.preloader {
    align-items: center; /* Align to the start on mobile */
    text-align: center; /* Align text to the left on mobile */
}
}
.sub-header {
  min-height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 4, 14, 0.685), rgba(2, 4, 14, 0.418)), url(../images/o-nas.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.sub-header h1 {
  font-size: 6vw;
  font-weight: 600;
  text-align: left;
  padding-left: 2.7em;
  color: #f1f1f1;
  margin-top: 14rem;
}
@media screen and (max-width: 768px) {
  .sub-header h1 {
    font-size: 13vw;
    width: 90%; 
    padding-left: 1em; 
  }
}
.logo-container {
  position: fixed;
  top: 1%;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1501;
}
.sub-header .logo {
width: 100%;
max-width: 180px;
height: 100%;
z-index: 1500;
transition: opacity 0.3s;
}
.sub-header .logo:hover {
  opacity: 0.7;
}
button {
border: 0;
padding: 0;
background: transparent;
cursor: pointer;
}
.lang-dropdown {
  position: fixed;
  top: 60px;
  right: 20px;
  z-index: 1501;
  }
  .lang-dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  transition: color 0.3s;
  }
  .lang-dropdown-btn:hover .lang-name,
  .lang-dropdown-btn:hover .lang-arrow {
    color: #e4e4e4;
  }
  .lang-dropdown-btn .lang-name,
  .lang-dropdown-btn .lang-arrow {
    color: #a0a0a0;
    transition: color 0.3s;
  }
  .lang-name {
  margin-right: 10px;
  color: #9e9e9e;
  }
  .lang-arrow {
  transition: transform 0.3s ease-in;
  color: #9e9e9e;
  }
  .lang-dropdown-btn.active .fa-angle-down {
  transform: rotate(180deg);
  }
  .lang-dropdown-list {
  display: none;
  position: absolute;
  background-color: #00000050;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-top: 5px;
  right: 5px;
  transition: opacity .4s ease;
  }
  
  .lang-dropdown-list.active {
  display: block;
  }
  
  .lang-dropdown-item {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
  }
  .lang-dropdown-item:hover {
  background: #555;
  }
  .navbar,
  .navbar-burger,
  .menu {
  position: fixed;
  }
  .navbar {
  z-index: 1501;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 25px;
  }
  .navbar-burger {
  z-index: 1501;
  top: 30px;
  left: 20px;
  display: grid;
  place-items: center;
  width: 44px;
  height: 75px;
  pointer-events: visible;
  background-image: url("../assets/menu.svg");
  background-repeat: no-repeat;
  filter: brightness(70%);
  background-position: center;
  transition: filter 0.3s;
  }
  .navbar-burger:hover {
  filter: brightness(100%);
  }
  body.open .navbar-burger {
  background-image: url("../assets/close.svg");
  }
  .menu {
  z-index: 1200;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.959);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s;
  overflow-y: auto;
  }
  
  body.open .menu {
  opacity: 1;
  visibility: visible;
  }
  
  .menu nav:hover a {
    opacity: 1;
    transition: 0.3s;
    }
    .menu nav .dropbtn {
      opacity: 0.25;
      }
    .menu nav a:hover {
    opacity: 0.25;
    transition: 0.3s;
    }
  .menu nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  }
  .menu .dropdown-content {
    display: none;
    position: fixed;
    min-width: 160px;
    z-index: 1;
    left: 280px; 
    top: 50%; 
    transform: translateY(-50%);
  }
  .menu .dropbtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #f7f7f7;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition: 0.3s;
  }
  .menu .dropbtn:hover::after {
  transform: scaleX(0.9);
  }
  
  body.open .menu .dropbtn {
    animation: appear 0.2s backwards;
    }
    
    @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 20px;
    }
    100% {
      opacity: 1;
    }
    }
    .dropdown {
      position: relative;
      display: block;
    }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1501;
    left: 100%; 
    top: 50%; 
    transform: translateY(-40%); 
  }
  .dropdown-content a {
    color: white; 
    font-family: "Steppe";
    padding: 20px 34px;
    width: 200px;
    text-align: left;
    text-decoration: none;
    display: block;
    animation: appear 0.3s backwards;
    margin-left: 17vw;
    z-index: 1501;
    font-size: 30px;
  }
  .dropbtn {
    position: relative;
    font-family: "Steppe";
    color: white;
    padding: 16px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 4em;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
  }
  .dropdown .fa-chevron-right {
    font-size: 15px;
    margin-left: 20px;
    transition: all 0.3s ease;
  }
  .dropdown:hover .fa-chevron-right,
  .dropdown .dropbtn:focus .fa-chevron-right {
    transform: translateX(5px);
  }
  @media screen and (max-width: 400px) {
    .dropbtn {
      font-size: 18px;
      margin-left: 2px;
      padding: 12px;
    }
    .dropdown-content a{
      font-size: 16px;
      margin-left: -75px;
      padding: 10px 12px;
    }
  }
  @media (min-width: 401px) and (max-width: 700px) {
    .dropdown-content a {
      font-size: 20px;
      margin-left: -30px;
      padding: 12px 14px;
    }
    .dropbtn {
      font-size: 22px;
      margin-left: 20px;
      padding: 14px;
    }
  }
  @media screen and (min-width: 701px) and (max-width: 1200px) {
    .dropbtn {
      font-size: 26px;
    }
    .dropdown-content a {
      font-size: 22px;
      margin-left: 16px;
    }
    .menu {
      z-index: 1200;
      top: 0;
      left: 0;
      display: grid;
      place-items: flex start;
      justify-content: flex-start;
      width: 100%;
      height: 100%; /* Сохраняет высоту */
      background: rgba(0, 0, 0, 0.959);
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      transition: 0.5s;
    }
    .dropbtn {
      margin-left: 50px;
    }
  }
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #20202098;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 14px;
  background: none;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}
.hero-btn:hover{
  background: #524FD5;
  color: #fff;
  border: 1px solid #00000000;
}
.hero-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #524FD5;
  z-index: -1;
  transition: 0.7s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.hero-btn:hover::before{
  height: 180%;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  top: 5px; 
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  background-color: #7118ab;
  border-radius: 12px;
  color: rgb(255, 255, 255);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: #7118ab;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}

/* Применяем стили к каждому тултипу */
.tooltip-item:hover + .tooltip {
   opacity: 1;
   pointer-events: auto;
  }

.textt {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.svgIcon {
  width: 16px;
  height: auto;
}
.about-us {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}
.about-header h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 46px;
  color: #100629;
}

.center-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.about-col {
  width: 35%;
  padding: 30px 20px; 
  text-align: left; 
  margin-right: 55px;
  box-sizing: border-box;
}
.about-col-p {
  padding-bottom: 100px;
}

.about-col img {
  width: 100%;
  height: 80%; 
  object-fit: cover;
  border-radius: 10px;
  margin-left: 6rem;
}

.about-col h1 {
  color: #7118ab;
  font-size: 46px;
  margin-bottom: 10px;
}
.about-col p {
  padding: 15px 0 25px;
  margin-bottom: 10px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 120px;
  padding: 150px 50px;
}
.facilities {
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center; 
  list-style-type: none; 
  padding-top: 50px;
  font-size: 1.5rem;
}

.facilities li {
  margin-right: 30px; 
}

.facilities li:last-child {
  margin-right: 0;
}
/* Медиа-запросы для адаптации под различные экраны */
@media only screen and (max-width: 768px) {
  .facilities {
    flex-wrap: wrap; 
  }
  
  .facilities li {
    margin-bottom: 10px; 
    margin-right: 20px; 
  }
}
.container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%; 
  height: 2px; 
  background-color: #100629;
  transform: translateY(-50%);
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container .card:hover {
  height: 350px;
  cursor: pointer;
}

.container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .img-box {
  top: -80px;
  scale: 0.8;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 30px;
  padding: 0 15px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 130px;
  height: 200px;
}

.container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}

.container .card .content p {
  color: #333;
  padding: 15px 30px;
}

.container .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: #000;
  color: white;
  font-weight: 500;
}

.container .card .content a:hover {
  opacity: 0.8;
}
.num-header h1{
  font-size: 95px;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  color: #100629;
}
@media screen and (max-width: 768px) {
  .num-header h1 {
    font-size: 50px;
  }
}
.containerr {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.numbers {
  padding: 5rem 0px 5rem 0px;
  width: 80%;
  margin: 0 auto;
  background-color: #e0e0e0;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.text {
  font-size: 8vw;
  letter-spacing: -0.01em;
  line-height: 95%;
  left: 20%;
  margin: 0px;
  width: 60%;
  color: #88888833;
  background: linear-gradient(to right, #9998b7, #100629) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  border-bottom: 2px solid #2f2b2815;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.containerr span {
  position: absolute;
  font-size: 4.3vw;
  width: 100%;
  height: 100%;
  background-color: #804ae4;
  color: #0d0d0d;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition-delay: 0.1s;
}

.text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition-delay: 0s;
}
.text:not(:hover) > span {
  transition-delay: 0.1s; 
}
.history {
  background-color: #e09719;
  width: 80%;
  padding: 1rem;
  display: flex;
  margin: 0 auto;
  border-radius: var(--border-radius);
}
.hist-tit {
  padding: 80px 0px 80px 0px;
  text-align: center;
}
.hist-tit h1{
  font-size: 5.8rem;
  color: #100629;
}
@media screen and (max-width: 1200px) {
  .history {
    display: block;
  }
  .hist-tit {
    padding: 50px 0px 30px 0px;
  }
}
.slider {
	display: flex;
	gap: 1em;
	margin: 0 auto;
	width: calc(70% - 2em);
	overflow-x: auto;
	padding: 25px 0px 20px 0px;
	scroll-snap-type: x mandatory;
}
@media screen and (max-width: 500px) {
  .slider {
    width: 100%;
  }
  .hist-tit h1 {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px){
  .slider {
    width: 95%;
  }
}
.slider .slide {
	position:relative;
	min-width:380px;
	border-radius:0.8em;
	overflow:hidden;
	box-shadow:0px 2px 5px 2px rgba(0,0,0,0.05);
	scroll-snap-align: start;
  color:#fff;
  transition: color 0.3s;
}
.slider .slide img {
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.slider .slide .content {
	position:absolute;
	bottom:0;
	padding:0.8em;
	display:grid;
	gap:0.25em;
}
.slider .slide:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:linear-gradient(
		rgba(0,0,0,0),
		rgba(0,0,0,0.1),
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.55)
	);
}
.slider .slide .content h2 {
	font-size:1.25em;
}
.slider .slide:hover {
  color: #7118ab;
}
.slider .slide .content p {
	font-size:0.95em;
	color:#ddd;
	line-height: 20px;
}
.slider::-webkit-scrollbar {
	height:5px;
}
.slider::-webkit-scrollbar-track {
	background:#ddd;
	border-radius:5px;
}
.slider::-webkit-scrollbar-thumb {
	background:#7118ab;
	border-radius: 5px;
	cursor:pointer;
  transition: all 1s;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #ffa405;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Адаптация для мобильных устройств */
@media only screen and (max-width: 767px) {
  .text {
    font-size: 23vw;
    width: 80%;
    left: 10%;
  }
  .hist-tit h1 {
    font-size: 50px;
  }
  
  .containerr span {
    font-size: 5.5vw;
  }
}

/* Адаптация для планшетных устройств */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .text {
    font-size: 16vw;
    width: 70%;
    left: 15%;
  }
  
  .containerr span {
    font-size: 4vw;
  }
}
@media (max-width: 480px) {
  .container .card {
      width: 230px;
      border-radius: 15px;
  }

  .container .card .img-box {
      width: 185px;
      border-radius: 10px;
  }

  .container .card .content p {
      font-size: 0.8rem;
  }

  .container .card .content a {
      font-size: 0.9rem;
  }
}
@media (max-width: 1024px) {
  .center-container {
    flex-direction: column-reverse;
  }

  .about-col {
    width: 100%;
    margin-right: 0; /* Remove right margin on mobile */
  }

  .about-col img {
    margin-left: 0; /* Reset margin for image on mobile */
  }
  .about-col h1 {
    font-size: 40px;
  }
}
/*---- call to action ----*/

.cta {
  margin: 100px auto;
  width: 85%;
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(rgba(2, 4, 14, 0.418),rgba(2, 4, 14, 0.418)), url('../images/background.png') center/cover no-repeat; 
}

.cta h1{
  font-size: 2.2em;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 600;
}

@media (max-width: 1000px){
  .cta h1{
    font-size: 1.5em;
    padding: 5px 5px;
  }
  .cta {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .cta {
    padding: 45px 10px; 
  }

  .cta h1 {
    margin-bottom: 25px; 
  }
}
@media (max-width: 400px) {
  .cta h1 {
    font-size: 1.2em;
    font-weight: 550;
  }
}
.c-button {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  padding: 0.7em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
@media (max-width: 400px) {
  .c-button {
    padding: 0.6em 1.1em;
    font-size: 13px;
  }
}
.c-button--gooey {
  color: #ffffff;
  background-color: #7118ab;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 2px solid #7118ab;
  border-radius: 5px;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #ffa405;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 30ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #0e0e0e;
  border: 2px solid #ffa405;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
/*---footer---*/

.footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  background: #7118ab;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}
.social-icon,
.menufoot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 1.9rem;
  color: #fff;
  margin: 20px 15px 0 0;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-5px);
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../images/wave.png");
  background-size: 1000px 100px;
  z-index: 998;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 7s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.6;
  bottom: 10px;
  animation: animate 7s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 6s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 5s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 0px;
  }
  .menu__link {
    font-size: 1.2rem;
    align-items: center;
  }
  .social-icon__link {
    font-size: 1.8rem;
    align-items: center;
  }
}