*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}
:root {
  --bg: hsl(0 0% 2%);
  --color: hsl(0 0% 100% / 0.1);
  --underline-width: 1lh;
  --underline-block-width: 200vmax;
  --underline-color: hsl(0 0% 50% / 0.15);
  --underline-color-hover: hsl(180 100% 50% / 1);
  --underline-transition: 5s;
  --finish-fill: hsl(0, 0%, 74%);
  --accent: hsl(0 0% 100%);
  --fill: hsl(0 0% 50%);
}
html, body{
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
width: 8px;
height: 6px;
}
::-webkit-scrollbar-track {
background: transparent;
}
::-webkit-scrollbar-thumb {
background: #888;
height: 4px;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
background: #6361d8;
}
.no-resize {
resize: none !important;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.home {
  margin-top: 3.5rem;
  max-width: 80%;
  background: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0)), url(image/campusback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 440px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
}
.home-text {
  padding-left: 3em;
}
.home-text h1 {
  color: #f1f1f1;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.home-title {
  color: #100629;
  padding-top: 13rem;
  font-size: 1.9rem;
  text-align: center;
}
.about {
  position: relative;
  padding: 8rem 5rem 8rem 5rem;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.37;
}
.about-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 25px;
  color: #100629;
}
.about-desc {
  font-size: 1.2rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.arch-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  padding: 0px; 
  z-index: -1; 
}

.arch-container img {
  width: 520px;
  top: 30rem;
  height: auto;
}
@keyframes slideInArka1 {
  from {
    transform: translateY(100%) rotate(-180deg) scaleX(-1);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(-180deg) scaleX(-1);
    opacity: 1;
  }
}

@keyframes slideInArka2 {
  from {
    transform: translateY(100%) rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(-180deg);
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#arka1 {
  position: relative;
  animation: slideInArka1 1.5s ease forwards;
}

#arka2 {
  position: relative;
  animation: slideInArka2 1.5s ease forwards;
}
@media (max-width: 1440px) {
  .arch-container {
    display: none;
  }
}
.numbers {
  margin: 15rem;
}
.text {
  font-size: 8vw;
  line-height: 100%;
  width: 100%;
  color: #88888833;
  background: linear-gradient(to right, #6c6b81, #100629) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.containerr span {
  position: absolute;
  font-size: 4.5vw;
  width: 100%;
  height: 100%;
  background-color: #804ae4;
  color: #0d0d0d;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition-delay: 0.1s;
}
@media only screen and (max-width: 767px) {
  .text {
    font-size: 15vw;
    width: 100%;
    margin: 0 auto;
  }
  
  .containerr span {
    font-size: 15vw;
  }
}
.galleryslide {
  padding-top: 150px;
}
.slider{
  height: 100vh;
  margin-top: 0px;
  position: relative;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: 
    linear-gradient(to top, #f0f0f0 1%, transparent),
    linear-gradient(to bottom, #f0f0f0 1%, transparent);
}
.slider .list .item .content{
  position: absolute;
  color: #100629;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
  transform: translateY(30px);
  filter: blur(15px);
  opacity: 0;
  animation: showContent .4s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
  animation-delay: 0.7s;
}
.slider .list .item.active p:nth-child(3){
  animation-duration: 1s;
}
.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button{
  background-color: rgba(0, 0, 0, 0.333);
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
.arrows button:hover{
  background-color: #514fd5;
  color: #100629;
}
.thumbnail{
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 130px;
  height: 200px;
  filter: opacity(0.4);
  transition: .5s;
  flex-shrink: 0;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.8)
}
.thumbnail .item.active{
  filter: opacity(1.0);
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
  color: #fff;
}
@media screen and (max-width: 678px) {
  .thumbnail{
      justify-content: start;
  }
  .slider .list .item .content h2{
      font-size: 60px;
  }
  .arrows{
      top: 15%;
      right: 20px;
  }
}

.controls {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 2rem;
  border-radius: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: hsl(0 0% 90%);
  color: hsl(0 0% 10%);
}

.animatedp {
  resize: both;
  max-width: 70vw;
  overflow: hidden;
  padding: 10ch;
	margin: 0;
}

.animatedp > span {
	outline-color: hsl(10 80% 50%);
	outline-offset: 1ch;
	font-size: clamp(3rem, 4vw + 1rem, 10rem);
  color: var(--color);
  text-decoration: none;
  background-image:
		/* First one is the highlight */
		linear-gradient(90deg, transparent calc(100% - 8ch), var(--accent) calc(100%  - 8ch)),
  	linear-gradient(90deg, var(--fill), var(--fill)),
    linear-gradient(90deg, var(--underline-color), var(--underline-color));
  background-size:
  	var(--underline-block-width) var(--underline-width),
  	var(--underline-block-width) var(--underline-width),
    100% var(--underline-width);
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 100%;
  background-clip: text;
  color: var(--finish-fill);
}

main {
  height: 200vh;
}

.animatedtext {
  position: sticky;
  top: 0;
	height: 100vh;
	width: 100vw;
  display: grid;
  place-items: center;
}


@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    main {
      view-timeline-name: --section;
    }
    
    .animatedp > span {
      background-position-x:
        calc(var(--underline-block-width) * -1),
        calc(var(--underline-block-width) * -1),
        0;
      color: transparent;
      animation-name: fill-up, color-in;
      animation-fill-mode: both;
      animation-timing-function: linear;
    	animation-timeline: --section;
    	animation-range: entry 100% cover 50%, cover 50% exit 0%;
    }

    @keyframes fill-up {
    	to { background-position-x: 0, 0, 0; }
    }

    @keyframes color-in {
    	to { color: var(--finish-fill); }
    }
  }
}
.c-button {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  padding: 0.7em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #c2c1ff;
  background-color: #fdfdfd21;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 2px solid #514fd5a8;
  border-radius: 5px;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #514fd5;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 30ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
@media screen and (max-width: 442px) {
  .home-text {
    padding-left: 14px;
  }
  .home-text h1 {
    font-size: 1.6rem;
  }
  .home-title {
    font-size: 1.1rem;
  }
  .c-button {
    font-size: 11px;
  }
  .home {
    height: 350px;
  }
}
/* Стили для номера телефона */
.phone {
position: fixed;
top: 65px;
right: 6.6em;
display: flex;
align-items: center;
z-index: 1500;
}
.phone-link {
display: flex;
align-items: center;
color: #9e9e9e; /* Замените на ваш цвет текста */
text-decoration: none;
margin-right: 20px; /* Расстояние между номером и переменной языка */
transition: color 0.5s ease;
}

.phone-link:hover {
color: #e4e4e4; /* Замените на ваш цвет при наведении */
}

.phone .fa-phone-flip {
margin-right: 10px; /* Расстояние между иконкой телефона и номером */
font-size: 20px;
}
.lang-dropdown-btn .fa-earth-americas {
display: none;
}
/* Дополнительные стили для мобильных устройств */
@media (max-width: 1000px) {
.phone {
    margin-right: -65px;
}
.phone-number {
  display: none;
}
.lang-dropdown-btn .fa-earth-americas {
  display: flex;
  color: #9e9e9e;
  transition: color 0.5s ease;
  font-size: 20px;
}
.lang-dropdown-btn .fa-earth-americas:hover {
  display: flex;
  color: #e4e4e4;
}
.lang-dropdown-btn .lang-arrow {
  display: none;
}
.lang-name {
  display: none;
}
}
@media (max-width: 700px) {
.lang-dropdown-list {
  width: 150px; 
}
}
@media (max-width: 700px) {
.sub-header .logo {
  max-width: 135px !important; /* Уменьшаем максимальную ширину для маленьких экранов */
  z-index: 1500;
}
}
.animated {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
#back-to-top {
display: inline-block;
background-color: #6b69e2be;
width: 50px;
height: 50px;
text-align: center;
border-radius: 4px;
position: fixed;
bottom: 30px;
right: 30px;
transition: background-color .3s, 
  opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#back-to-top::after {
content: "\f077";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 2em;
line-height: 50px;
color: #fff;
}
#back-to-top:hover {
cursor: pointer;
background-color: #4b49c5;
}
#back-to-top:active {
background-color: #cecece;
}
#back-to-top.show {
opacity: 1;
visibility: visible;
}
body{
  background: #f0f0f0;
  overflow-x: hidden;
  justify-content: center;
  box-sizing: border-box;
}
body::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 25%;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0) 100%);
pointer-events: none; 
z-index: 1000;
resize: horizontal;
}
body.loading {
  overflow: hidden;
}
.scroll-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
body::before {
  height: 25%; 
}
}
html {
scroll-behavior: smooth;
}
.read-more-btn {
background-color: #524FD5;
color: white;
border: none;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s;
}

.read-more-btn:hover {
background-color: #423d91;
}

@media screen and (max-width: 768px) {
.news-item {
  width: 100%;
  margin: 10px 0;
}
}
/*---FAQ---*/
::selection{
background: #7d2ae8;
color: #fff;
}
.d-arrow{
transition: transform 0.3s ease-in ;
color: #3f3f3f;
}
.question button .d-arrow.rotate{
transform: rotate(180deg);
}
.preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 5000;
opacity: 1;
transition: opacity 1s ease-out;
}

.spinner {
margin-bottom: 30px;
border: 4px solid rgba(0, 0, 0, 0.1);
border-top: 4px solid #524FD5;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 0.8s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.preloader-content {
text-align: center;
opacity: 1;
transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Added visibility transition */
animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.preloader h2 {
margin: 0;
font-size: 24px;
color: #333;
}

.loaded .preloader {
opacity: 0;
pointer-events: none;
transition: opacity 0.5s ease-out;
}

.loaded .preloader-content {
opacity: 0;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
.preloader h2 {
    font-size: 18px;
}

.preloader {
    align-items: center; /* Align to the start on mobile */
    text-align: center; /* Align text to the left on mobile */
}
}
.logo-container {
  position: fixed;
  top: 1%;
  left: 50%; /* Расположение по центру */
  transform: translateX(-50%); /* Центрирование логотипа */
  z-index: 1501;
}
.sub-header .logo {
width: 100%;
max-width: 180px;
height: 100%;
z-index: 1500;
}
button {
border: 0;
padding: 0;
background: transparent;
cursor: pointer;
}
.lang-dropdown {
position: fixed;
top: 60px;
right: 20px;
z-index: 1500;
}

.lang-dropdown-btn {
background: none;
border: none;
cursor: pointer;
font-size: 18px;
color: #fff;
display: flex;
align-items: center;
padding: 5px 10px;
transition: color 0.3s;
}
.lang-dropdown-btn:hover .lang-name,
.lang-dropdown-btn:hover .lang-arrow {
  color: #e4e4e4;
}
.lang-dropdown-btn .lang-name,
.lang-dropdown-btn .lang-arrow {
  color: #a0a0a0;
  transition: color 0.3s;
}
.lang-name {
margin-right: 10px;
color: #9e9e9e;
}
.lang-arrow {
transition: transform 0.3s ease-in;
color: #9e9e9e;
}

.lang-dropdown-btn.active .fa-angle-down {
transform: rotate(180deg);
}

.lang-dropdown-list {
display: none;
position: absolute;
background-color: #00000050;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
border-radius: 10px;
margin-top: 5px;
right: 5px;
transition: opacity .4s ease;
}

.lang-dropdown-list.active {
display: block;
}

.lang-dropdown-item {
padding: 10px;
color: #fff;
text-decoration: none;
display: block;
transition: background 0.3s;
}

.lang-dropdown-item:hover {
background: #555;
}
.navbar,
.navbar-burger,
.menu {
position: fixed;
}
.navbar {
z-index: 1501;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 72px;
padding-left: 25px;
}
.navbar-burger {
z-index: 1501;
top: 0;
left: 0;
display: grid;
place-items: center;
width: 88px;
height: 150px;
background-image: url("../assets/menu.svg");
background-repeat: no-repeat;
filter: brightness(70%);
background-position: center;
transition: filter 0.3s;
}
.navbar-burger:hover {
filter: brightness(100%);
}
body.open .navbar-burger {
background-image: url("../assets/close.svg");
}
.menu {
z-index: 1200;
top: 0;
left: 0;
display: grid;
align-items: center;
justify-content: flex-start;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.959);
opacity: 0;
overflow: hidden;
visibility: hidden;
transition: 0.4s;
overflow-y: auto;
}

body.open .menu {
opacity: 1;
visibility: visible;
}

.menu nav:hover a {
  opacity: 1;
  transition: 0.3s;
  }
  .menu nav .dropbtn {
    opacity: 0.25;
    }
  .menu nav a:hover {
  opacity: 0.25;
  transition: 0.3s;
  }
.menu nav {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.menu .dropdown-content {
  display: none;
  position: fixed;
  min-width: 160px;
  z-index: 1;
  left: 280px; /* Установите фиксированное расстояние здесь */
  top: 50%; /* Выравнивание по середине кнопки */
  transform: translateY(-50%); /* Смещение вверх на половину высоты элемента */
}
.menu .dropbtn::after {
content: "";
position: absolute;
left: 0;
bottom: 10px;
width: 100%;
height: 2px;
border-radius: 2px;
background: #f7f7f7;
transform: scaleX(0);
transform-origin: 50% 50%;
transition: 0.3s;
}
.menu .dropbtn:hover::after {
transform: scaleX(1);
}

body.open .menu .dropbtn {
  animation: appear 0.3s backwards;
  }
  
  @keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
  }
  .dropdown {
    position: relative;
    display: block;
  }
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1501;
  left: 100%; /* Позиционирование выпадающего меню справа */
  top: 50%; /* Выравнивание по середине кнопки */
  transform: translateY(-40%); /* Смещение вверх на половину высоты элемента */
}
.dropdown-content a {
  color: white; /* Установи цвет текста на белый */
  padding: 20px 16px;
  width: 200px;
  text-align: left;
  text-decoration: none;
  display: block;
  animation: appear 0.3s backwards;
  margin-left: 17vw;
  z-index: 1501;
  font-size: 30px;
}
/* Добавьте стили для кнопки */
.dropbtn {
  position: relative;
  color: white; /* Установите цвет текста на белый */
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 4em;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}
.dropdown .fa-chevron-right {
  font-size: 15px;
  margin-left: 25px; /* Регулируйте это значение для изменения расстояния стрелки от текста кнопки */
  transition: all 0.3s ease;
}
.dropdown:hover .fa-chevron-right,
.dropdown .dropbtn:focus .fa-chevron-right {
  transform: translateX(5px);
}
@media screen and (max-width: 400px) {
  .dropbtn {
    font-size: 18px;
    margin-left: 2px;
  }
  .dropdown-content a{
    font-size: 16px;
    margin-left: -75px;
    padding: 12px 16px;
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  .dropdown-content a {
    font-size: 20px;
    margin-left: -30px;
    padding: 12px 16px;
  }
  .dropbtn {
    font-size: 22px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .dropbtn {
    font-size: 24px;
  }
  .dropdown-content a {
    font-size: 24px;
    margin-left: 10px;
  }
  .menu {
    z-index: 1200;
    top: 0;
    left: 0;
    display: grid;
    place-items: flex start;
    justify-content: flex-start;
    width: 100%;
    height: 100%; /* Сохраняет высоту */
    background: rgba(0, 0, 0, 0.959);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
  }
  .dropbtn {
    margin-left: 50px;
  }
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #20202098;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 14px;
  background: none;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}
.hero-btn:hover{
  background: #524FD5;
  color: #fff;
  border: 1px solid #00000000;
}
.hero-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #524FD5;
  z-index: -1;
  transition: 0.7s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.hero-btn:hover::before{
  height: 180%;
}
.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  padding-top: 50px;
}

.news-item {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  margin: 35px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.021);
  position: relative;
}

.news-item:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.news-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.news-content {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #f0f0f0;
  font-size: 20px;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.news-content h3 {
  margin: 0;
}
/*---footer---*/

.footer {
  position: relative;
  margin-top: 15rem;
  width: 100%;
  background: #9a6af1;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}
.social-icon,
.menufoot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-5px);
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../images/wave.png");
  background-size: 1000px 100px;
  z-index: 998;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 7s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 7s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 6s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 5s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 0px;
  }
  .menu__link {
    font-size: 1.4rem;
    align-items: center;
  }
  .social-icon__link {
    font-size: 2rem;
    align-items: center;
  }
}