@import url("../fonts/steppe/stylesheet.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --container: 110rem;
  --primary: hsl(201.43, 13.21%, 58.43%);
  --white: hsl(0, 0%, 100%);
  --white-light: hsl(0, 0%, 99%);
  --box-shadow: hsl(220, 7.32%, 91.96%);
}
::-webkit-scrollbar {
width: 8px;
height: 6px;
}
::-webkit-scrollbar-track {
background: transparent;
}
::-webkit-scrollbar-thumb {
background: #888;
height: 4px;
border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d08709;
  }
.no-resize {
resize: none !important;
}
/* Стили для номера телефона */
.phone {
  position: fixed;
  top: 65px;
  right: 6.6em;
  display: flex;
  align-items: center;
  z-index: 1501;
  }
  .phone-link {
  display: flex;
  align-items: center;
  color: #9e9e9e; /* Замените на ваш цвет текста */
  text-decoration: none;
  margin-right: 20px; /* Расстояние между номером и переменной языка */
  transition: color 0.5s ease;
  }
  .phone-link:hover {
  color: #e4e4e4; /* Замените на ваш цвет при наведении */
  }
  
  .phone .fa-phone-flip {
  margin-right: 10px; /* Расстояние между иконкой телефона и номером */
  font-size: 20px;
  }
  .lang-dropdown-btn .fa-earth-americas {
  display: none;
  }
  /* Дополнительные стили для мобильных устройств */
  @media (max-width: 700px) {
  .header {
    min-height: 100vh;
  }
  .phone {
    right: 2.5em;
  }
  .phone-number {
  display: none;
  }
  .lang-dropdown {
  right: 1em;
  }
  .lang-dropdown-btn .fa-earth-americas {
  display: flex;
  color: #9e9e9e;
  transition: color 0.5s ease;
  font-size: 20px;
  }
  .lang-dropdown-btn .fa-earth-americas:hover {
  display: flex;
  color: #e4e4e4;
  }
  .lang-dropdown-btn .lang-arrow {
  display: none;
  }
  .lang-name {
  display: none;
  }
  .lang-dropdown-list {
    width: 100px; /* Уменьшаем ширину для маленьких экранов */
    }
  }
  @media (max-width: 700px) {
  .sub-header .logo {
    max-width: 135px !important; 
    z-index: 1500;
  }
  }
.animated {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
#back-to-top {
  display: inline-block;
  background-color: #a03ce37b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s, color .4s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #fff;
  }
  #back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  }
  #back-to-top:hover {
  cursor: pointer;
  background-color: #ffa405;
  color: #000;
  }
  #back-to-top:active {
  background-color: #e2e2e2;
  }
  #back-to-top.show {
  opacity: 1;
  visibility: visible;
  }
  @media (max-width: 700px) {
    #back-to-top {
      width: 44px;
      height: 44px;
    }
    #back-to-top::after {
      line-height: 44px;
    }
  }
body{
  background: #f0f0f0;
  overflow-x: hidden;
  justify-content: center;
  box-sizing: border-box;
}
.scroll-blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
body::before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 25%;
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.87) 0%, rgba(0, 0, 0, 0) 100%);
pointer-events: none; 
z-index: 1000;
resize: horizontal; 
}
html {
scroll-behavior: smooth;
}
.read-more-btn {
background-color: #524FD5;
color: white;
border: none;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s;
}

.read-more-btn:hover {
background-color: #423d91;
}

@media screen and (max-width: 768px) {
.news-item {
  width: 100%;
  margin: 10px 0;
}
}
/*---FAQ---*/
::selection{
background: #7d2ae8;
color: #fff;
}
.question button{
width: 100%;
background-color: #e7e7e7;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 15px;
border: none;
outline: none;
font-size: 22px;
color: #3f3f3f;
font-weight: 600;
cursor: pointer;
border-radius: 10px;
}
.question p{
font-size: 18px;
max-height: 0;
opacity: 0;
padding-top: 15px;
line-height: 1.5;
overflow: hidden;
text-align: left;
transition: all 0.6s ease;
}
.d-arrow{
transition: transform 0.3s ease-in ;
color: #3f3f3f;
}
.question p.show{
max-height: 200px; 
opacity: 1;
padding: 12px 30px 30px 15px;
color: #00000096;
}
.question button .d-arrow.rotate{
transform: rotate(180deg);
}
.preloader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 5000;
opacity: 1;
transition: opacity 1s ease-out;
}

.spinner {
margin-bottom: 30px;
border: 4px solid rgba(0, 0, 0, 0.1);
border-top: 4px solid #7118ab;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 0.8s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.preloader-content {
text-align: center;
opacity: 1;
transition: opacity 1s ease-in-out, visibility 1s ease-in-out; 
animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.preloader h2 {
margin: 0;
font-size: 24px;
color: #333;
}

.loaded .preloader {
opacity: 0;
pointer-events: none;
transition: opacity 0.5s ease-out;
}

.loaded .preloader-content {
opacity: 0;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
.preloader h2 {
    font-size: 18px;
}

.preloader {
    align-items: center; 
    text-align: center; 
}
}
.sub-header {
height: 45vh;
width: 100%;
background-image: linear-gradient(rgba(2, 4, 14, 0.685),rgba(2, 4, 14, 0.418)), url(../images/documents.jpg);
background-position: center;
background-size: cover;
text-align: center;
position: relative;
overflow: hidden;
color: #fff;
}
.logo-container {
  position: fixed;
  top: 1%;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1501;
}
.sub-header .logo {
width: 100%;
max-width: 180px;
height: 100%;
z-index: 1500;
transition: opacity 0.3s;
}
.sub-header .logo:hover {
  opacity: 0.7;
}
button {
border: 0;
padding: 0;
background: transparent;
cursor: pointer;
}
.lang-dropdown {
position: fixed;
top: 60px;
right: 20px;
z-index: 1200;
}

.lang-dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  transition: color 0.3s;
  }
  .lang-dropdown-btn:hover .lang-name,
  .lang-dropdown-btn:hover .lang-arrow {
    color: #e4e4e4;
  }
  .lang-dropdown-btn .lang-name,
  .lang-dropdown-btn .lang-arrow {
    color: #a0a0a0;
    transition: color 0.3s;
  }
.lang-name {
margin-right: 10px;
color: #9e9e9e;
}
.lang-arrow {
transition: transform 0.3s ease-in;
color: #9e9e9e;
}

.lang-dropdown-btn.active .fa-angle-down {
transform: rotate(180deg);
}

.lang-dropdown-list {
display: none;
position: absolute;
background-color: #00000050;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
border-radius: 10px;
margin-top: 5px;
right: 5px;
transition: opacity .4s ease;
}

.lang-dropdown-list.active {
display: block;
}

.lang-dropdown-item {
padding: 10px;
color: #fff;
text-decoration: none;
display: block;
transition: background 0.3s;
}

.lang-dropdown-item:hover {
background: #555;
}
.navbar,
.navbar-burger,
.menu {
position: fixed;
}
.navbar {
z-index: 1501;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 72px;
padding-left: 25px;
}
.navbar-burger {
z-index: 1501;
top: 0;
left: 0;
display: grid;
place-items: center;
width: 88px;
height: 150px;
background-image: url("../assets/menu.svg");
background-repeat: no-repeat;
filter: brightness(70%);
background-position: center;
transition: filter 0.3s;
}
.navbar-burger:hover {
filter: brightness(100%);
}
body.open .navbar-burger {
background-image: url("../assets/close.svg");
}
.menu {
z-index: 1200;
top: 0;
left: 0;
display: grid;
align-items: center;
justify-content: flex-start;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.959);
opacity: 0;
overflow: hidden;
visibility: hidden;
transition: 0.4s;
overflow-y: auto;
}

body.open .menu {
opacity: 1;
visibility: visible;
}

.menu nav:hover a {
  opacity: 1;
  transition: 0.3s;
  }
  .menu nav .dropbtn {
    opacity: 0.25;
    }
  .menu nav a:hover {
  opacity: 0.25;
  transition: 0.3s;
  }
.menu nav {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.menu .dropdown-content {
  display: none;
  position: fixed;
  min-width: 160px;
  z-index: 1;
  left: 280px; /* Установите фиксированное расстояние здесь */
  top: 50%; /* Выравнивание по середине кнопки */
  transform: translateY(-50%); /* Смещение вверх на половину высоты элемента */
}
.menu .dropbtn::after {
content: "";
position: absolute;
left: 0;
bottom: 10px;
width: 100%;
height: 2px;
border-radius: 2px;
background: #f7f7f7;
transform: scaleX(0);
transform-origin: 50% 50%;
transition: 0.3s;
}
.menu .dropbtn:hover::after {
transform: scaleX(0.9);
}

body.open .menu .dropbtn {
  animation: appear 0.3s backwards;
  }
  
  @keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
  }
  .dropdown {
    position: relative;
    display: block;
  }
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1501;
  left: 100%; /* Позиционирование выпадающего меню справа */
  top: 50%; /* Выравнивание по середине кнопки */
  transform: translateY(-40%); /* Смещение вверх на половину высоты элемента */
}
.dropdown-content a {
  color: white; /* Установи цвет текста на белый */
  padding: 20px 16px;
  width: 200px;
  text-align: left;
  text-decoration: none;
  display: block;
  animation: appear 0.3s backwards;
  margin-left: 17vw;
  z-index: 1501;
  font-size: 30px;
}
/* Добавьте стили для кнопки */
.dropbtn {
  position: relative;
  color: white; /* Установите цвет текста на белый */
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 4em;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}
.dropdown .fa-chevron-right {
  font-size: 15px;
  margin-left: 25px; /* Регулируйте это значение для изменения расстояния стрелки от текста кнопки */
  transition: all 0.3s ease;
}
.dropdown:hover .fa-chevron-right,
.dropdown .dropbtn:focus .fa-chevron-right {
  transform: translateX(5px);
}
@media screen and (max-width: 400px) {
  .dropbtn {
    font-size: 18px;
    margin-left: 2px;
  }
  .dropdown-content a{
    font-size: 16px;
    margin-left: -75px;
    padding: 12px 16px;
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  .dropdown-content a {
    font-size: 20px;
    margin-left: -30px;
    padding: 12px 16px;
  }
  .dropbtn {
    font-size: 22px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .dropbtn {
    font-size: 24px;
  }
  .dropdown-content a {
    font-size: 24px;
    margin-left: 10px;
  }
  .menu {
    z-index: 1200;
    top: 0;
    left: 0;
    display: grid;
    place-items: flex start;
    justify-content: flex-start;
    width: 100%;
    height: 100%; /* Сохраняет высоту */
    background: rgba(0, 0, 0, 0.959);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
  }
  .dropbtn {
    margin-left: 50px;
  }
}
/* Добавьте стили для кнопки */
.dropbtn {
  position: relative;
  color: white; 
  padding: 16px;
  font-size: 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 4em;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: transparent;
}
.dropdown .fa-chevron-right {
  font-size: 15px;
  margin-left: 25px; /* Регулируйте это значение для изменения расстояния стрелки от текста кнопки */
  transition: all 0.3s ease;
}
.dropdown:hover .fa-chevron-right,
.dropdown .dropbtn:focus .fa-chevron-right {
  transform: translateX(5px);
}
@media screen and (max-width: 400px) {
  .dropbtn {
    font-size: 18px;
    margin-left: 2px;
  }
  .dropdown-content a{
    font-size: 16px;
    margin-left: -75px;
    padding: 12px 16px;
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  .dropdown-content a {
    font-size: 20px;
    margin-left: -30px;
    padding: 12px 16px;
  }
  .dropbtn {
    font-size: 22px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
  .dropbtn {
    font-size: 24px;
  }
  .dropdown-content a {
    font-size: 24px;
    margin-left: 10px;
  }
  .menu {
    z-index: 1200;
    top: 0;
    left: 0;
    display: grid;
    place-items: flex start;
    justify-content: flex-start;
    width: 100%;
    height: 100%; /* Сохраняет высоту */
    background: rgba(0, 0, 0, 0.959);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s;
  }
  .dropbtn {
    margin-left: 50px;
  }
}
@media (max-width: 700px) {
.header {
  min-height: 100vh;
}
.text-box h1 {
  font-size: 16px;
}
}
.text-box {
  width: 100%;
  color: #f7f7f7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1 {
  font-size: 85px;
  color: #ffffff;
  font-weight: 600;
}
.text-box h1 span {
color: #6f53ed;
position: relative;
}
.text-box h1 span::before {
content: "";
height: 50px;
width: 2px;
position: absolute;
top: 50%;
right: -8px;
background: #6f53ed;
transform: translateY(-45%);
animation: blink 0.7s infinite;
}
.textbox h1 span.stop-blinking::before {
animation: none;
}
@keyframes blink {
50% { opacity: 0 }
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: #a8a8a8;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #20202098;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 14px;
  background: none;
  position: relative;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}
.hero-btn:hover{
  background: #524FD5;
  color: #fff;
  border: 1px solid #00000000;
}
.hero-btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #524FD5;
  z-index: -1;
  transition: 0.7s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.hero-btn:hover::before{
  height: 180%;
}

/*----documentstab----*/

.buttontab {
  outline: none;
  margin-top: 50px;
  height: 40px;
  width: 130px; 
  color: #7118ab;
  background: #f3f3f3;
  border: 2px solid #7118ab;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease;
}

.buttontab:hover {
  color: #ffffff;
  background: #ffa305e8;
}

.buttontab:active {
  letter-spacing: 2px;
}

.buttontab::after {
  content: "СКАЧАТЬ";
}

.clicked {
  width: 40px;
  border-color: #cecece4d;
  border-width: 5px;
  font-size: 0;
  border-left-color: #7118ab;
  animation: rotating 2s 0.25s linear infinite;
}

.clicked::after {
  content: "";
}

.clicked:hover {
  color: #7118ab;
  background: #111111e8;
}

.validate {
  font-size: 20px;
  color: #fff;
  background: #ffa305e8;
}

.validate::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-tabs {
  max-width: var(--container);
  margin: 0 auto;
}
.section-header {
  text-align: center;
}
.section-heading {
  margin-top: 3rem;
  font-size: 3.5rem;
  position: relative;
  display: inline-block;
}
.tab-container {
  width: 80%;
  margin: 0 auto 3rem auto;
}
.tab-filter-container {
  padding: 2rem 0px 2rem 0px;
  text-align: center;
  background: transparent;
  border-radius: 10px 10px 0px 0px;
  color: #000000;
  margin: 0 auto;
}
.filter-btn {
  display: inline-flex;
  padding: 0.8rem 2.5rem;
  margin: 1rem 1rem 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 1.1rem;
  border: 1px solid #00000041;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  transition: background 0.4s, color 0.5s;
}
.filter-btn:hover {
  background: #1d1d1d;
  color: #fff;
}
.filter-btn.active {
  background: #ffa305e8;
  color: var(--white);
  border: 1px solid #ffa305e8; 
}
.tab-filter-item-container {
  background: #7118ab;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.tab-item {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 1.5rem; 
  transform: translateY(110%);
  background: var(--white-light);
  border-radius: 10px;
  transition: transform 0.35s ease-in-out;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  place-items: center start;
}
.tab-content-left {
  margin: 35px;
  text-align: center;
}
.tab-img {
  max-width: 75%;
  height: auto; 
  display: block; 
  border-radius: 15px; 
}
.tab-heading {
  padding: 2rem 0;
  font-size: 2.5rem;
}
.tab-item.select_tab {
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
  background: var(--white-light);
  animation: feadIn 0.4s ease-in-out;
}
@keyframes feadIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .section-heading {
    font-size: 2rem;
  }
  .tab-container {
    width: 90%;
  }
  .tab-item {
    padding: 0rem;
  }
}
@media (max-width: 426px) {
  .filter-btn {
    padding: 1rem 1rem;
  }
  .tab-heading {
    font-size: 1.7rem;
  }
  .paragraph {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .tab-item {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .tab-content-left,
  .tab-content-right {
    width: 100%; 
    max-width: 90%; 
    text-align: center; 
  }

  .tab-img {
    display: none;
  }
}
/*---- call to action ----*/

.cta {
  margin: 100px auto;
  width: 85%;
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  background: linear-gradient(rgba(2, 4, 14, 0.418),rgba(2, 4, 14, 0.418)), url('../images/background.png') center/cover no-repeat; 
}

.cta h1{
  font-size: 2.2em;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 600;
}

@media (max-width: 1000px){
  .cta h1{
    font-size: 1.5em;
    padding: 5px 5px;
  }
  .cta {
    width: 85%;
  }
}

@media (max-width: 700px) {
  .cta {
    padding: 45px 10px; 
  }

  .cta h1 {
    margin-bottom: 25px; 
  }
}
@media (max-width: 400px) {
  .cta h1 {
    font-size: 1.2em;
    font-weight: 550;
  }
}
.c-button {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  padding: 0.7em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
@media (max-width: 400px) {
  .c-button {
    padding: 0.6em 1.1em;
    font-size: 13px;
  }
}
.c-button--gooey {
  color: #ffffff;
  background-color: #7118ab;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 2px solid #7118ab;
  border-radius: 5px;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #ffa405;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 30ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #0e0e0e;
  border: 2px solid #ffa405;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
/*---footer---*/

.footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  background: #7118ab;
  min-height: 100px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}
.social-icon,
.menufoot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 1.9rem;
  color: #fff;
  margin: 20px 15px 0 0;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-5px);
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../images/wave.png");
  background-size: 1000px 100px;
  z-index: 998;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 7s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.6;
  bottom: 10px;
  animation: animate 7s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.4;
  bottom: 15px;
  animation: animateWaves 6s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 5s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0px 0px;
  }
  .menu__link {
    font-size: 1.2rem;
    align-items: center;
  }
  .social-icon__link {
    font-size: 1.8rem;
    align-items: center;
  }
}